<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommonComposableTest"
        tools:targetApi="31">
        <activity
            android:name=".DIalogComposable"
            android:exported="false"
            android:label="@string/title_activity_dialog_composable"
            android:theme="@style/Theme.CommonComposableTest" />
        <activity
            android:name=".ChooseComposable"
            android:exported="false"
            android:label="@string/title_activity_choose_composable"
            android:theme="@style/Theme.CommonComposableTest" />
        <activity
            android:name=".ButtonComposable"
            android:exported="false"
            android:label="@string/title_activity_button_composable"
            android:theme="@style/Theme.CommonComposableTest" />
        <activity
            android:name=".PictureComposable"
            android:exported="false"
            android:label="@string/title_activity_picture_composable"
            android:theme="@style/Theme.CommonComposableTest" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CommonComposableTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>